{
  "folder_id": "b1gfu8nt3uckrfni11b1",
  "source_image_family": "ubuntu-1604-lts",
  "ssh_username": "ubuntu",
  "platform_id": "standard-v1",
  "subnet_id": "e9b43ficdatnc1d610se",
  "service_key_file_path": "files/key.json"
}
